In [23]:
import numpy as np

xx = np.linspace(-0.80,0.80,64)
yy = xx.copy()

X, Y = np.meshgrid(xx, yy)


V=(9*10**9)*(30*10**(-9))*np.log((((X+0.3)**2+Y**2)**0.5+X+0.3)/((X**2+Y**2)**0.5+X))

V[0]

array([ 78.63207333,  79.8430612 ,  81.05902414,  82.27715812,
        83.49434622,  84.70715005,  85.91180563,  87.10422416,
        88.2799991 ,  89.43442005,  90.56249463,  91.65897882,
        92.71841636,  93.73518751,  94.7035671 ,  95.61779138,
        96.47213286,  97.26098188,  97.97893309,  98.62087485,
        99.18207893,  99.6582879 , 100.0457973 , 100.34152982,
       100.54309869, 100.64885798, 100.65793789, 100.57026354,
       100.38655661, 100.1083197 ,  99.73780409,  99.27796207,
        98.73238587,  98.10523529,  97.40115683,  96.62519704,
        95.78271305,  94.87928292,  93.92061844,  92.91248248,
        91.8606128 ,  90.7706536 ,  89.64809577,  88.49822643,
        87.32608772,  86.13644481,  84.93376251,  83.72218992,
        82.50555218,  81.28734853,  80.07075565,  78.8586354 ,
        77.65354615,  76.45775663,  75.27326194,  74.10180074,
        72.94487324,  71.80375953,  70.67953772,  69.57310181,
        68.48517892,  67.41634564,  66.36704362,  65.33759409])

In [26]:
posx=[]
posy=[]
valor_potecial =[]
for i in range(len(X)):
    for j in range(len(X[i])):
        posx.append(X[i][j])
        posy.append(Y[i][j])
        valor_potecial.append(V[i][j])

len(valor_potecial)

4096

In [27]:
import pandas as pd
datos={
    'Coordenadas en X': posx,
    'Coordenadas en Y': posy,
    'Valor del potencial electrico': valor_potecial
}
df = pd.DataFrame(datos)

In [28]:
df

      Coordenadas en X  Coordenadas en Y  Valor del potencial electrico
0            -0.800000              -0.8                      78.632073
1            -0.774603              -0.8                      79.843061
2            -0.749206              -0.8                      81.059024
3            -0.723810              -0.8                      82.277158
4            -0.698413              -0.8                      83.494346
...                ...               ...                            ...
4091          0.698413               0.8                      69.573102
4092          0.723810               0.8                      68.485179
4093          0.749206               0.8                      67.416346
4094          0.774603               0.8                      66.367044
4095          0.800000               0.8                      65.337594

[4096 rows x 3 columns]

In [35]:
df.to_excel('Punto1_taller.xlsx')

In [39]:
xx = np.linspace(-0.35,0.05)
yy = np.linspace(-0.35,0.35)
X,Y= np.meshgrid(xx, yy)
Pv=((9*10**9)*(30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(Y-0.05)**2)+X+0.3)/(np.sqrt(X**2+(Y-0.05)**2)+X)))+((9*10**9)*(-30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(0.25-Y)**2)+X+0.3)/(np.sqrt(X**2+(0.25-Y)**2)+X)))

<ipython-input-39-4bb2be2e0386>:4: RuntimeWarning: divide by zero encountered in true_divide
  Pv=((9*10**9)*(30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(Y-0.05)**2)+X+0.3)/(np.sqrt(X**2+(Y-0.05)**2)+X)))+((9*10**9)*(-30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(0.25-Y)**2)+X+0.3)/(np.sqrt(X**2+(0.25-Y)**2)+X)))
<ipython-input-39-4bb2be2e0386>:4: RuntimeWarning: invalid value encountered in true_divide
  Pv=((9*10**9)*(30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(Y-0.05)**2)+X+0.3)/(np.sqrt(X**2+(Y-0.05)**2)+X)))+((9*10**9)*(-30*10**(-9))*np.log((np.sqrt((X+0.3)**2+(0.25-Y)**2)+X+0.3)/(np.sqrt(X**2+(0.25-Y)**2)+X)))

50

In [40]:
Posx =[]
Posy =[]
V_potencial=[]

for i in range(len(X)):
    for j in range(len(X[i])):
        Posx.append(X[i][j])
        Posy.append(Y[i][j])
        V_potencial.append(Pv[i][j])

In [41]:
datos2= {
    'Coordenadas en X': Posx,
    'Coordenadas en Y': Posy,
    'Valor del potencial electrico': V_potencial
}

df2 = pd.DataFrame(datos2)

In [42]:
df2

      Coordenadas en X  Coordenadas en Y  Valor del potencial electrico
0            -0.350000             -0.35                      52.447027
1            -0.341837             -0.35                      53.273031
2            -0.333673             -0.35                      54.083600
3            -0.325510             -0.35                      54.876820
4            -0.317347             -0.35                      55.650761
...                ...               ...                            ...
2495          0.017347              0.35                    -225.564657
2496          0.025510              0.35                    -212.880980
2497          0.033673              0.35                    -200.515475
2498          0.041837              0.35                    -188.566137
2499          0.050000              0.35                    -177.108040

[2500 rows x 3 columns]

In [ ]:
df2.to_excel('Punto2_taller.xlsx')